@model honey.Areas.Admin.Models.Currency

@{
    ViewData["Title"] = "اضافة عملة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="item-details section">
    <div class="container">
        <form class="form" asp-action="Create">
            <div class="row">
                <div class="col-md-8 mx-auto" style="float:inherit;margin:auto">
                    <div class="white_shd">
                        <div class="m-bottom-30">
                            <label><h6>العملة</h6></label>
                            <input asp-for="Name" class="form-control" placeholder="مثل : ريال يمني">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="pub">
                            <input id="save" type="submit" class="btn btn-success form-control" value="اضافة">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>


