@model honey.Areas.Admin.Models.Currency

@{
    ViewData["Title"] = "حذف العملة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="item-details section">
    <div class="container">
        <h2>حذف</h2>
        <h3>تاكيد حذف هذه العملة؟</h3>
        <form class="form" asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <div class="row">
                <div class="col-md-8 mx-auto" style="float:inherit;margin:auto">
                    <div class="white_shd">
                        <div class="m-bottom-30">
                            <label><h6>العملة</h6></label>
                            <input asp-for="Name" class="form-control" readonly>
                        </div>
                        <div class="pub">
                            <input type="submit" class="btn btn-danger form-control" value="حذف">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>