@model honey.Areas.Admin.Models.Currency

@{
    ViewData["Title"] = "تفاصيل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="item-details section">
    <div class="container">
        <h2>تفاصيل</h2>
        <div class="row">
            <div class="col-md-8 mx-auto" style="float:inherit;margin:auto">
                <div class="white_shd">
                    <div class="m-bottom-30">
                        <label><h6>العملة</h6></label>
                        <input asp-for="Name" class="form-control" readonly>
                    </div>
                    <div class="pub">
                        <div class="col-md-4">
                            <a asp-action="Edit" asp-route-id="@Model.ID" type="submit" class="btn btn-success form-control">تعديل</a>
                        </div>
                        <div class="col-md-4">
                            <a asp-action="Delete" asp-route-id="@Model.ID" type="submit" class="btn btn-danger form-control">حذف</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
